body {
  overflow-x: hidden;
}
.img-marketing {
  width: 20%;
  height: 40%;
}
.img-client {
  width: 15%;
  border-radius: 50%;
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translate(-50%, 10%);
  margin-bottom: 3rem !important;
}

.mb-5 {
  font-size: 13px;
  font-stretch: "poppins", sans-serif;
  font-weight: 500;
}

.row-clone {
  width: 60%;
  border-radius: 7px;
  margin: auto;
  position: relative;
  margin-top: 5rem;
}

.image-section {
  overflow: hidden;
}

.image-section img {
  width: 120%;
  height: 100%;
  margin-left: -2em;
}

.bg-transparent {
  background: transparent;
  background-color: #029;
}

.slide {
  position: relative;
}

.slide::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000080;
}

.carousel-caption {
  position: absolute;
  top: 20%;
}


.btn-primary.btn.btn-custom {
  color: #fff !important;
  background: #3257a8 !important;
  text-transform: capitalize;
  height: 50px;
  line-height: 50px;
  font-weight: 600;
  font-size: 14px;
  padding: 0 30px;
  overflow: hidden;
  font-family: "poppins" sans-serif;
  border-color: #3257a8 !important;
}

.icon {
  padding-left: 90px;
}

.nav-border,
nav {
  position: relative;
}

.nav-border::after {
  content: "";
  position: absolute;
  top: -12%;
  right: 0;
  height: 190%;
  width: 1px;
  background-color: #787878;
}
nav::after {
  content: "";
  position: absolute;
  top: 130%;
  bottom: 0;
  right: 0;
  height: 1px;
  width: 100%;
  background-color: #787878;
}

.nav-item {
  top: 60%;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
}

.side-icons {
  color: rgb(0, 195, 218);
}

.list-inline-item {
  font-weight: 300;
  font-size: 13px;
}

.text-block {
  /* background-color: #019; */
  align-items: center;
  justify-content: center;
  display: flex;
  width: 80% !important;
}

.icon-block {
  border-right: 1px solid #ccc;
  /* background-color: #827; */
  font-size: 2rem;
  margin-top: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20% !important;

}

.shad {
  box-shadow: 0px 2px 2px #ccc;
}

.card-body a {
  border: 1px solid #aaa;
}

.footer {
  position: relative !important;
}
.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ccc;
}
footer {
  position: relative !important;
}
footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ccc;
}

.footer a {
  font-size: 0.9rem;
}

.footer a:hover {
  text-decoration: none;
  color: #019 !important;
}

.footer h6 {
  font-size: 0.8rem !important;
}

/*.row {
  padding-top: 6px;
  padding-bottom: 6px;
}
*/

.py-5 {
  /*padding-top: 6rem!important;*/
}

.footer-one{
  padding-top: 1000px;
  padding-bottom: 5rem;
}

@media (max-width: 400px) {
  .row-clone {
    width: 80%;
  }
  .img-client {
    top: -6%;
    width: 50%;
    transform: translate(-50%, 4%);
  }
}
